.title {
    background-color: #eeeded;
    font-family: Helvetica,'sans-serif',Calibri;
    color:#222222;
    padding: 10px;
    margin: 10px;
    text-align: center;
} 

ul {
    font-family: Helvetica,'sans-serif',Calibri;
}
